In [1]:
import pandas as pd

In [7]:
movie_review_train = pd.read_csv('movie_review_train.csv')

movie_review_train['label'] = movie_review_train['class'].map({'Pos':1, 'Neg':0})
movie_review_train.head()
movie_review_train = movie_review_train.drop(['class'], axis=1)

In [8]:
movie_review_train.head()

                                                text  label
0   a common complaint amongst film critics is   ...      1
1   whew   this film oozes energy   the kind of b...      1
2   steven spielberg s   amistad     which is bas...      1
3   he has spent his entire life in an awful litt...      1
4   being that it is a foreign language film with...      1

In [9]:
movie_review_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600 entries, 0 to 1599
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    1600 non-null   object
 1   label   1600 non-null   int64
dtypes: int64(1), object(1)
memory usage: 25.1+ KB

In [10]:
X_train = movie_review_train.text
y_train = movie_review_train.label

In [13]:
from sklearn.feature_extraction.text import CountVectorizer

vect = CountVectorizer(stop_words='english', min_df=.03, max_df=.8)
vect.fit(X_train)

len(vect.vocabulary_)

1643

In [14]:
movie_review_test = pd.read_csv('movie_review_test.csv')

movie_review_test['label'] = movie_review_test['class'].map({'Pos':1, 'Neg':0})

movie_review_test = movie_review_test.drop(['class'], axis=1)
movie_review_test.head()

                                                text  label
0   films adapted from comic books have had plent...      1
1   every now and then a movie comes along from a...      1
2   you ve got mail works alot better than it des...      1
3      jaws   is a rare film that grabs your atte...      1
4   moviemaking is a lot like being the general m...      1

In [15]:
X_test = movie_review_test.text
y_test = movie_review_test.label

In [16]:
X_test_transformed = vect.transform(X_test)
X_test_transformed

<400x1643 sparse matrix of type '<class 'numpy.int64'>'
	with 51663 stored elements in Compressed Sparse Row format>

In [19]:
X_train_transformed = vect.transform(X_train)
X_train_transformed

<1600x1643 sparse matrix of type '<class 'numpy.int64'>'
	with 217396 stored elements in Compressed Sparse Row format>

In [21]:
from sklearn.naive_bayes import BernoulliNB

bnb = BernoulliNB()
bnb.fit(X_train_transformed, y_train)

y_pred_class = bnb.predict(X_test_transformed)

y_pred_proba = bnb.predict_proba(X_test_transformed)

from sklearn import metrics

metrics.accuracy_score(y_test, y_pred_class)

0.79

In [23]:
confusion = metrics.confusion_matrix(y_test, y_pred_class)

TN = confusion[0,0]
FP = confusion[0,1]
FN = confusion[1,0]
TP = confusion[1,1]

print(confusion)

[[177  23]
 [ 61 139]]